@media screen and (min-width: 250px) and (max-width: 650px) {
  * {
    padding: 0; }
  .wrapper {
    width: 100%;
    padding: 0; }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 700px;
    background-color: 000; }
    .header .active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .header .mobile-menu {
      z-index: 98;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      z-index: 999;
      position: fixed;
      top: -100%;
      width: 100%;
      height: 350px;
      background: #333333;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .header .mobile-menu ul {
        width: 90%;
        height: 70%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        .header .mobile-menu ul li a {
          font-size: 20px;
          color: #fff; }
    .header .mobile-menu.active {
      top: 40px; }
    .header .menu {
      width: 100%;
      height: 45px;
      z-index: 99;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      border: none; }
      .header .menu ul {
        display: none; }
      .header .menu .icon {
        width: 25px;
        height: 25px;
        margin-left: 10px;
        display: block;
        width: 25px;
        height: 15px; }
        .header .menu .icon:before, .header .menu .icon:after {
          content: '';
          z-index: 999;
          width: 25px;
          position: absolute;
          background-color: #fff;
          height: 2px;
          -webkit-transition: all .25s linear;
          -o-transition: all .25s linear;
          transition: all .25s linear; }
        .header .menu .iconbefore {
          top: 5px; }
        .header .menu .icon:after {
          bottom: 15px; }
      .header .menu .icon.active:before {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 20px; }
      .header .menu .icon.active:after {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: 23px; }
      .header .menu .mobile-buy__fixed {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 75px;
        height: 25px;
        background: #1680D5;
        z-index: 999;
        border-radius: 50px;
        margin-right: 10px;
        color: #fff;
        font-size: 13px; }
    .header .header-content {
      background: #000 url(../images/Apple_AirPods_Pro.jpg);
      background-repeat: no-repeat;
      background-size: 110% 50%;
      background-position: 0 10%;
      width: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .header .header-content .header-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 90%;
        height: 300px; }
        .header .header-content .header-text h1 {
          font-size: 26px; }
        .header .header-content .header-text h5 {
          color: #fff;
          font-size: 16px; }
        .header .header-content .header-text button {
          width: 100px;
          height: 30px; }
      .header .header-content img {
        display: none; }
  .main {
    padding: 20px; }
    .main h2 {
      font-size: 185%; }
    .main p {
      font-size: 14px; }
    .main .goods {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 1300px; }
      .main .goods .good {
        width: 70%; }
        .main .goods .good button {
          width: 50%;
          height: 10%; }
    .main .why-us {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 1000px; }
      .main .why-us .why-us_item {
        padding: 25px 15px;
        height: 30%;
        width: 70%; }
    .main .info {
      height: 630px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .main .info .info-contacts {
        width: 80%;
        grid-gap: 10%; }
      .main .info .info-form {
        height: 350px;
        width: 85%; }
        .main .info .info-form h2 {
          margin: 5% 0; }
        .main .info .info-form .form-items .form-input {
          font-size: 18px; }
        .main .info .info-form .form-items .form-label {
          font-size: 16px;
          left: 3%; } }
