@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif; }

ul {
  list-style: none; }

.wrapper {
  max-width: 1541px;
  margin: 0 auto; }

.header {
  background: #fff;
  width: 1540px;
  height: ‭76 0.851%; }
  .header .menu,
  .header .navigation,
  .header .header-content {
    padding: 0 calc(50% - 585px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    width: ‭75 0.97%; }
  .header .menu,
  .header .navigation {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .menu a,
    .header .navigation a {
      text-decoration: none;
      color: #34404b;
      font-size: 13px;
      font-weight: 400; }
      .header .menu a:hover,
      .header .navigation a:hover {
        color: #ff7013; }
      .header .menu a img,
      .header .navigation a img {
        margin-right: 10px; }
  .header .menu {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 60px;
    border-bottom: 0.1px solid silver; }
    .header .menu .right {
      width: 4%; }
    .header .menu ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .header .menu ul li {
        margin-right: 20px; }
  .header .navigation {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 120px; }
    .header .navigation ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .header .navigation ul li {
        margin-left: 20px; }
  .header .header-content {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 650px;
    background: #ededf0; }
    .header .header-content .header-text {
      width: 520px;
      height: 115px; }
      .header .header-content .header-text h2 {
        color: #ff7013;
        font-size: 30px; }
      .header .header-content .header-text h5 {
        color: #34404b;
        font-size: 18px;
        margin: 20px 0px 10px 0px; }
      .header .header-content .header-text p {
        font-size: 16px; }
    .header .header-content img {
      width: 20%;
      height: 50%; }

.main {
  padding: 120px 195px;
  height: 1500px;
  text-align: center; }
  .main h1 {
    color: #34404b;
    font-size: 225%;
    margin: 0px 0px 15px 0px; }
  .main p {
    color: #495662;
    font-size: 16px; }
  .main .goods {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 60px 0px;
    width: ‭75 0.97%;
    height: 365px; }
    .main .goods .good {
      background: #f4f6f8;
      width: 270px;
      height: 100%; }
      .main .goods .good img {
        width: 70%;
        margin: 15px 0px; }
      .main .goods .good h4 {
        font-size: 113%;
        margin: 0px  0px 15px 0px; }
