@import "variables";
@import "mixin";

@media screen and (min-width: 250px) and (max-width: 650px) {
    * {
        padding: 0;
    }

    .wrapper {
        width: 100%;
        padding: 0;
    }

    .header {
        display: flex;
        align-items: center;
        height: 700px;
        background-color: 000;

        .active {
            display: flex;


        }

        .mobile-menu {
            z-index: 98;
            align-items: center;
            justify-content: center;
            z-index: 999;
            position: fixed;
            top: -100%;
            width: 100%;
            height: 350px;
            background: $AppleColor;
            transition: all 0.3s ease 0s;

            ul {
                width: 90%;
                height: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                li {
                    a {
                        font-size: 20px;
                        color: #fff;
                    }
                }
            }
        }
        .mobile-menu.active{
            top: 40px;
        }

        .menu {
            width: 100%;
            height: 45px;
            z-index: 99;
            justify-content: space-between;
            border: none;

            ul {
                display: none;
            }


            .icon {
                width: 25px;
                height: 25px;
                margin-left: 10px;
                display: block;
                width: 25px;
                height: 15px;

                &:before,
                &:after {
                    content: '';
                    z-index: 999;
                    width: 25px;
                    position: absolute;
                    background-color: #fff;
                    height: 2px;
                    transition: all .25s linear;
                }

                &before {
                    top: 5px;
                }

                &:after {
                    bottom: 15px;
                }
            }
            .icon.active:before {
                transform: rotate(-45deg);
                top: 20px;
            }
            .icon.active:after {
                transform: rotate(45deg);
                bottom: 23px;
            }

            .mobile-buy__fixed {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 75px;
                height: 25px;
                background: $color;
                z-index: 999;
                border-radius: 50px;
                margin-right: 10px;
                color: #fff;
                font-size: 13px;
            }

        }

        .header-content {
            background: #000 url(../images/Apple_AirPods_Pro.jpg);
            background-repeat: no-repeat;
            background-size: 110% 50%;
            background-position: 0 10%;
            width: 100%;
            justify-content: center;
            align-items: center;

            .header-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 90%;
                height: 300px;

                h1 {
                    font-size: 26px;
                }

                h5 {
                    color: #fff;
                    font-size: 16px;
                }

                button {
                    width: 100px;
                    height: 30px;
                }
            }

            img {
                display: none;
            }
        }
    }

    .main {
        padding: 20px;

        h2 {
            font-size: 185%;
        }

        p {
            font-size: 14px;
        }

        .goods {
            flex-direction: column;
            align-items: center;
            height: 1300px;

            .good {
                width: 70%;
                    button{
                        width: 50%;
                        height: 10%;
                    }
            }

        }

        .why-us {
            flex-direction: column;
            align-items: center;
            height: 1000px;

            .why-us_item {
                padding: 25px 15px;
                height: 30%;
                width: 70%;
            }
        }

        .info {
            height: 630px;
            flex-direction: column;
            align-items: center;

            .info-contacts {
                width: 80%;
                grid-gap: 10%;
            }

            .info-form {
                height: 350px;
                width: 85%;

                h2 {
                    margin: 5% 0;
                }

                .form-items {
                    .form-input {
                        font-size: 18px;

                    }

                    .form-label {
                        font-size: 16px;
                        left: 3%;
                    }

                }
            }
        }
    }
}