@import "variables";
@import "mixin";

* {
  outline: none;
  font-family: "SF UI Display";
  margin: 0;
  padding: 0;
  transition: all 0.7s cubic-bezier(.25, .8, .25, 1);

}

body {
  background-color: $bgColor;
  font-family: 'Source Sans Pro',
    sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
}

.header {
  background: $bgColor;
  width: 100%;
  height: ‭76.851%;


  .header-content {
    padding: 0 calc(50% - 585px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: ‭75.97%;
  }

  .fixed {
    position: fixed;
    top: 0;
    left: 0;
  }
  .menu {
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon{
      display: none;
    }
    ul{
      width: 40%;
      height: 20px;
      display: flex;  
      justify-content: space-around;
      
      
      a {
        color: $bgColor;
        font-size: 15px;
        font-weight: 400;

        &:hover {
          color: $hover;
        }

        img {
          margin-right: 10px;

          &:hover {
            transform: scale(1.05);
          }
        }
      }
  }
}
.mobile-menu{
  display: none;
}

  .menu {
    background: $AppleColor;
    justify-content: space-around;
    height: 60px;
    border-bottom: 0.1px solid silver;
  }


  ul {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      width: 25px;

    }

    li {
      align-items: center;
      height: 100%;
      margin-right: 20px;

      a {
        color: bgColor;
        align-items: center;

      }
    }
  }
}



.header-content {
  justify-content: space-between;
  align-items: center;
  height: 650px;
  background: $Background;

  .header-text {
    width: 520px;
    height: 115px;

    h1 {
      color: $color;
      font-size: 30px;
    }

    h5 {
      color: $textColor;
      font-size: 18px;
      margin: 15px 0px 15px 0px;
    }

    button {
      width: 18%;
      height: 23%;
      border-radius: 5px;
      background: $color;
      border: none;

      a {
        font-size: 14px;
        color: $bgColor;
      }
    }

  }

  img {
    width: 20%;
    height: 50%;

    &:hover {
      transform: scale(0.95);
    }

  }
}

.main {
  padding: 120px 16.5%;
  text-align: center;
  display: flex;
  flex-direction: column;

  h2 {
    color: $textColor;
    font-size: 225%;
    margin: 0px 0px 15px 0px;
  }

  p {
    color: #495662;
    font-size: 17px;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
  }

  .goods {
    display: flex;
    justify-content: space-between;
    margin: 60px 0px;
    width: ‭75.97%;
    height: 385px;

    .good {
      transition: all 0.7s cubic-bezier(.25, .8, .25, 1);

      &:hover {
        transform: scale(1.05);
        // box-shadow: $shadow;
      }

      width: 270px;
      height: 100%;

      img {
        width: 65%;
        margin: 15px 0px;
      }

      h4 {
        font-size: 30px;
        margin: 0px 0px 3px 0px;
      }

      button {
        width: 25%;
        height: 7%;
        border-radius: 5px;
        background: $color;
        border: none;
          a{
            color: $bgColor;
          }
      }

    }
  }
  .why-us{
    display: flex;
    justify-content: space-between;
    margin: 60px 0px;
    width: ‭75.97%;
    height: 385px;
      .why-us_item{
        padding: 30px;
        border-radius: 15px;
        width: 250px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: $shadow;
        h4 {
          font-size: 25px;
          margin: 0px 0px 3px 0px;
        }
        p{
          font-size: 18px;
          
        }
        img{
          width: 75px;
        }
      } 
  }
  .info{
    margin: 10% 0 0 0;
    display: flex;
    justify-content: space-around;
    box-shadow: $shadow;

    .info-contacts{
      width: 25%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      align-items: center;
        a{
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        
          img{
            width: 90px;
          
          }
        }  
    }

    .info-form{
      display: flex;
      flex-direction: column;
      justify-content: space-around; 
      width: 300px;
      height: 30vh;
      padding: 20px;
        h2 {
          color: $AppleColor;
        }

        * {
          transition: 0.3s;
        }
        .form-items{
          .form-input:focus~.form-label,
          .form-input:not(:placeholder-shown) ~.form-label {
            font-size: 12px;
            top: -18px;
          }
          position: relative;
          .form-input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #e0e0e0;
            width: 100%;
            padding: 0 0 5px 0;
            font-size: 15px;
            font-weight: bold;
            &:focus{
              border-bottom: 1px solid $AppleColor;
            }
            
            
          }
          .form-label {
            color: $AppleColor;
            font-size: 15px;
            position: absolute;
            top: -5px;
            left: 0;
            z-index: -1;
          }
        }
        .form-button {
          padding: 10px 20px;
          margin: 0 auto;
          border-radius: 5px;
          outline: none;
          border: none;
          color: $bgColor;
          background: $color;
          font-size: 15px; 
        }
    }
  }  
}
.footer{
  height: 250px;
  background: $AppleColor;
}