  $bgColor: #fff;
  $Background: #F2F2F2;
  $color: #1680D5;
  $hover: #808080;
  $textColor: #34404b;
  $AppleColor: #333333;
  $shadow: 0 3px 9px rgba(0, 0, 0, 0.041),
  0 3px 9px rgba(0, 0, 0, 0.23);